#etat.ENATTEND {
    background: rgb(66,123,131);
background: linear-gradient(180deg, rgba(66,123,131,1) 0%, rgba(56,47,60,1) 100%);}

#etat.APPROVEE {
    background: rgb(20,181,98);
background: linear-gradient(180deg, rgba(20,181,98,1) 0%, rgba(6,139,26,1) 100%);}

#etat.REFUSEE {
    background: rgb(181,20,20);
    background: linear-gradient(180deg, rgba(181,20,20,1) 0%, rgba(139,6,54,1) 100%);
}

#etat {
    padding: .7em;
    border-radius: .3em;
    font-size: .7rem;
    font-weight: 900;
    color: #fff;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
    font-family: 'Satoshi-Regular';
    text-transform: capitalize;
}

#map {
    height: 50vh;
    width: 100%;
}

