<div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3 css-1h77wgb">
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6 MuiGrid-grid-lg-8 css-12ta2gc">
        <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-sa3w6d">
            <div class="MuiBox-root css-1igy7s2">
                <div class="MuiBox-root css-1ircn5c">
                    <h6 class="MuiTypography-root MuiTypography-h6 MuiTypography-gutterBottom css-739xvr">Projects</h6>
                    <div class="MuiBox-root css-1oczi4d"><span
                            class="material-icons-round notranslate MuiIcon-root MuiIcon-fontSizeInherit css-7vg3jr"
                            aria-hidden="true">done</span><span
                            class="MuiTypography-root MuiTypography-button css-v4qhfh">&nbsp;<strong>30 done</strong>
                            this month</span></div>
                </div>
                <div class="MuiBox-root css-a1dfa5"><span
                        class="material-icons-round notranslate MuiIcon-root MuiIcon-fontSizeSmall css-1ofpnzb"
                        aria-hidden="true">more_vert</span></div>
            </div>
            <div class="MuiBox-root css-1ircn5c">
                <div class="MuiTableContainer-root css-1r8h6m1">
                    <table role="table" class="MuiTable-root css-11rbhr">
                        <thead class="MuiBox-root css-1ircn5c">
                            <tr class="MuiTableRow-root css-1kuqfbs" role="row">
                                <th class="MuiBox-root css-1p0dxn5">
                                    <div class="MuiBox-root css-w614i4" colspan="1" role="columnheader">companies</div>
                                </th>
                                <th class="MuiBox-root css-1omj89j">
                                    <div class="MuiBox-root css-w614i4" colspan="1" role="columnheader">members</div>
                                </th>
                                <th class="MuiBox-root css-1qbdd0n">
                                    <div class="MuiBox-root css-1kcj9bb" colspan="1" role="columnheader">budget</div>
                                </th>
                                <th class="MuiBox-root css-1qbdd0n">
                                    <div class="MuiBox-root css-1kcj9bb" colspan="1" role="columnheader">completion
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="MuiTableBody-root css-1xnox0e" role="rowgroup">
                            <tr class="MuiTableRow-root css-1kuqfbs" role="row">
                                <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-1xcjrx8">
                                            <div class="MuiAvatar-root MuiAvatar-circular css-q9s4ys"
                                                name="Material UI XD Version"><img
                                                    src="/material-dashboard-react/static/media/logo-xd.6e37886f94dba0c2967ece68a152e30c.svg"
                                                    class="MuiAvatar-img css-u226zh"></div><span
                                                class="MuiTypography-root MuiTypography-button css-19e71w5">Material UI
                                                XD Version</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-cvyi93">
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Ryan Tompson" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-1.0fd36e0ee93dcfacdef8.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Romina Hadid" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-2.13ae2ce3e12f4cfed420.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Alexander Smith" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-3.0ef0be95e6850814c79e.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Jessica Doe" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-4.85c82b6e60178804017f.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9"><span
                                            class="MuiTypography-root MuiTypography-caption css-k33355">$14,000</span>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-13qgpg2"><span
                                                class="MuiLinearProgress-root MuiLinearProgress-colorPrimary MuiLinearProgress-determinate css-d4m8au"
                                                role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                aria-valuemax="100"><span
                                                    class="MuiLinearProgress-bar MuiLinearProgress-barColorPrimary MuiLinearProgress-bar1Determinate css-1jaua5b"
                                                    style="transform: translateX(-40%);"></span></span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="MuiTableRow-root css-1kuqfbs" role="row">
                                <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-1xcjrx8">
                                            <div class="MuiAvatar-root MuiAvatar-circular css-q9s4ys"
                                                name="Add Progress Track"><img
                                                    src="/material-dashboard-react/static/media/logo-atlassian.f2b0e8570a4b4ce768854ff3dad1a6e1.svg"
                                                    class="MuiAvatar-img css-u226zh"></div><span
                                                class="MuiTypography-root MuiTypography-button css-19e71w5">Add Progress
                                                Track</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-cvyi93">
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Romina Hadid" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-2.13ae2ce3e12f4cfed420.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Jessica Doe" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-4.85c82b6e60178804017f.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9"><span
                                            class="MuiTypography-root MuiTypography-caption css-k33355">$3,000</span>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-13qgpg2"><span
                                                class="MuiLinearProgress-root MuiLinearProgress-colorPrimary MuiLinearProgress-determinate css-3xk22x"
                                                role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                                aria-valuemax="100"><span
                                                    class="MuiLinearProgress-bar MuiLinearProgress-barColorPrimary MuiLinearProgress-bar1Determinate css-1jaua5b"
                                                    style="transform: translateX(-90%);"></span></span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="MuiTableRow-root css-1kuqfbs" role="row">
                                <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-1xcjrx8">
                                            <div class="MuiAvatar-root MuiAvatar-circular css-q9s4ys"
                                                name="Fix Platform Errors"><img
                                                    src="/material-dashboard-react/static/media/logo-slack.7c47c5aa474b5c4fb39fcf05ffb8e4e7.svg"
                                                    class="MuiAvatar-img css-u226zh"></div><span
                                                class="MuiTypography-root MuiTypography-button css-19e71w5">Fix Platform
                                                Errors</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-cvyi93">
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Ryan Tompson" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-1.0fd36e0ee93dcfacdef8.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Alexander Smith" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-3.0ef0be95e6850814c79e.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9"><span
                                            class="MuiTypography-root MuiTypography-caption css-k33355">Not set</span>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-13qgpg2"><span
                                                class="MuiLinearProgress-root MuiLinearProgress-colorPrimary MuiLinearProgress-determinate css-12bt7vc"
                                                role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                                aria-valuemax="100"><span
                                                    class="MuiLinearProgress-bar MuiLinearProgress-barColorPrimary MuiLinearProgress-bar1Determinate css-1jaua5b"
                                                    style="transform: translateX(0%);"></span></span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="MuiTableRow-root css-1kuqfbs" role="row">
                                <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-1xcjrx8">
                                            <div class="MuiAvatar-root MuiAvatar-circular css-q9s4ys"
                                                name="Launch our Mobile App"><img
                                                    src="/material-dashboard-react/static/media/logo-spotify.e83cf56c9d99a1fdf59e8deb58bbe470.svg"
                                                    class="MuiAvatar-img css-u226zh"></div><span
                                                class="MuiTypography-root MuiTypography-button css-19e71w5">Launch our
                                                Mobile App</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-cvyi93">
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Jessica Doe" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-4.85c82b6e60178804017f.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Alexander Smith" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-3.0ef0be95e6850814c79e.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Romina Hadid" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-2.13ae2ce3e12f4cfed420.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Ryan Tompson" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-1.0fd36e0ee93dcfacdef8.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9"><span
                                            class="MuiTypography-root MuiTypography-caption css-k33355">$20,500</span>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-13qgpg2"><span
                                                class="MuiLinearProgress-root MuiLinearProgress-colorPrimary MuiLinearProgress-determinate css-12bt7vc"
                                                role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                                aria-valuemax="100"><span
                                                    class="MuiLinearProgress-bar MuiLinearProgress-barColorPrimary MuiLinearProgress-bar1Determinate css-1jaua5b"
                                                    style="transform: translateX(0%);"></span></span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="MuiTableRow-root css-1kuqfbs" role="row">
                                <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-1xcjrx8">
                                            <div class="MuiAvatar-root MuiAvatar-circular css-q9s4ys"
                                                name="Add the New Pricing Page"><img
                                                    src="/material-dashboard-react/static/media/logo-jira.c19fd4e416babfbd0fdb0a794188cx601.svg"
                                                    class="MuiAvatar-img css-u226zh"></div><span
                                                class="MuiTypography-root MuiTypography-button css-19e71w5">Add the New
                                                Pricing Page</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-cvyi93">
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Jessica Doe" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-4.85c82b6e60178804017f.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9"><span
                                            class="MuiTypography-root MuiTypography-caption css-k33355">$500</span>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-13qgpg2"><span
                                                class="MuiLinearProgress-root MuiLinearProgress-colorPrimary MuiLinearProgress-determinate css-18b9zi6"
                                                role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100"><span
                                                    class="MuiLinearProgress-bar MuiLinearProgress-barColorPrimary MuiLinearProgress-bar1Determinate css-1jaua5b"
                                                    style="transform: translateX(-75%);"></span></span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="MuiTableRow-root css-1kuqfbs" role="row">
                                <td class="MuiBox-root css-1bmbtuq">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-1xcjrx8">
                                            <div class="MuiAvatar-root MuiAvatar-circular css-q9s4ys"
                                                name="Redesign New Online Shop"><img
                                                    src="/material-dashboard-react/static/media/logo-invision.a1062115730dcd10e1c4f4abe7b9ab33.svg"
                                                    class="MuiAvatar-img css-u226zh"></div><span
                                                class="MuiTypography-root MuiTypography-button css-19e71w5">Redesign New
                                                Online Shop</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-1bmbtuq">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-cvyi93">
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Ryan Tompson" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-1.0fd36e0ee93dcfacdef8.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                            <div class="MuiAvatar-root MuiAvatar-circular  css-1xb8yvk"
                                                aria-label="Jessica Doe" placeholder="bottom"><img alt="name"
                                                    src="/material-dashboard-react/static/media/team-4.85c82b6e60178804017f.jpg"
                                                    class="MuiAvatar-img css-u226zh"></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-a8rluf">
                                    <div class="MuiBox-root css-ekdnj9"><span
                                            class="MuiTypography-root MuiTypography-caption css-k33355">$2,000</span>
                                    </div>
                                </td>
                                <td class="MuiBox-root css-a8rluf">
                                    <div class="MuiBox-root css-ekdnj9">
                                        <div class="MuiBox-root css-13qgpg2"><span
                                                class="MuiLinearProgress-root MuiLinearProgress-colorPrimary MuiLinearProgress-determinate css-1vq766l"
                                                role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                                aria-valuemax="100"><span
                                                    class="MuiLinearProgress-bar MuiLinearProgress-barColorPrimary MuiLinearProgress-bar1Determinate css-1jaua5b"
                                                    style="transform: translateX(-60%);"></span></span></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="MuiBox-root css-w6xrhl"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6 MuiGrid-grid-lg-4 css-dias7a">
        <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-mrp64w">
            <div class="MuiBox-root css-18l73dz">
                <h6 class="MuiTypography-root MuiTypography-h6 css-1vkplif">Orders overview</h6>
                <div class="MuiBox-root css-k91gfj"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">
                        <p class="MuiTypography-root MuiTypography-body2 css-4c2p4i"><span
                                class="material-icons-round notranslate MuiIcon-root MuiIcon-fontSizeInherit css-19gf8tj"
                                aria-hidden="true">arrow_upward</span></p>&nbsp;<span
                            class="MuiTypography-root MuiTypography-button css-pyw3di">24%</span> this month
                    </span></div>
            </div>
            <div class="MuiBox-root css-11b450n">
                <div class="MuiBox-root css-1552b6x">
                    <div class="MuiBox-root css-1yppu9z"><span
                            class="material-icons-round notranslate MuiIcon-root MuiIcon-fontSizeInherit css-6m0tds"
                            aria-hidden="true">notifications</span></div>
                    <div class="MuiBox-root css-1sso625"><span
                            class="MuiTypography-root MuiTypography-button css-1ac3nod">$2400, Design changes</span>
                        <div class="MuiBox-root css-1v8epth"><span
                                class="MuiTypography-root MuiTypography-caption css-19q0ucf">22 DEC 7:20 PM</span></div>
                        <div class="MuiBox-root css-eyoi5a"></div>
                    </div>
                </div>
                <div class="MuiBox-root css-1552b6x">
                    <div class="MuiBox-root css-zxbz5v"><span
                            class="material-icons-round notranslate MuiIcon-root MuiIcon-fontSizeInherit css-6m0tds"
                            aria-hidden="true">inventory_2</span></div>
                    <div class="MuiBox-root css-1sso625"><span
                            class="MuiTypography-root MuiTypography-button css-1ac3nod">New order #1832412</span>
                        <div class="MuiBox-root css-1v8epth"><span
                                class="MuiTypography-root MuiTypography-caption css-19q0ucf">21 DEC 11 PM</span></div>
                        <div class="MuiBox-root css-eyoi5a"></div>
                    </div>
                </div>
                <div class="MuiBox-root css-1552b6x">
                    <div class="MuiBox-root css-uqm1me"><span
                            class="material-icons-round notranslate MuiIcon-root MuiIcon-fontSizeInherit css-6m0tds"
                            aria-hidden="true">shopping_cart</span></div>
                    <div class="MuiBox-root css-1sso625"><span
                            class="MuiTypography-root MuiTypography-button css-1ac3nod">Server payments for April</span>
                        <div class="MuiBox-root css-1v8epth"><span
                                class="MuiTypography-root MuiTypography-caption css-19q0ucf">21 DEC 9:34 PM</span></div>
                        <div class="MuiBox-root css-eyoi5a"></div>
                    </div>
                </div>
                <div class="MuiBox-root css-1552b6x">
                    <div class="MuiBox-root css-1nb5453"><span
                            class="material-icons-round notranslate MuiIcon-root MuiIcon-fontSizeInherit css-6m0tds"
                            aria-hidden="true">payment</span></div>
                    <div class="MuiBox-root css-1sso625"><span
                            class="MuiTypography-root MuiTypography-button css-1ac3nod">New card added for order
                            #4395133</span>
                        <div class="MuiBox-root css-1v8epth"><span
                                class="MuiTypography-root MuiTypography-caption css-19q0ucf">20 DEC 2:20 AM</span></div>
                        <div class="MuiBox-root css-eyoi5a"></div>
                    </div>
                </div>
                <div class="MuiBox-root css-2y1ja2">
                    <div class="MuiBox-root css-2gcc6n"><span
                            class="material-icons-round notranslate MuiIcon-root MuiIcon-fontSizeInherit css-6m0tds"
                            aria-hidden="true">vpn_key</span></div>
                    <div class="MuiBox-root css-1sso625"><span
                            class="MuiTypography-root MuiTypography-button css-1ac3nod">New card added for order
                            #4395133</span>
                        <div class="MuiBox-root css-1v8epth"><span
                                class="MuiTypography-root MuiTypography-caption css-19q0ucf">18 DEC 4:54 AM</span></div>
                        <div class="MuiBox-root css-eyoi5a"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>